-r requirements.txt

# Debug tools --------------------------------------
django-debug-toolbar==6.0.0  # https://github.com/jazzband/django-debug-toolbar
django-extensions==4.1  # https://github.com/django-extensions/django-extensions

# Linting ------------------------------------------
flake8==7.3.0  # https://github.com/PyCQA/flake8
flake8-isort==6.1.2  # https://github.com/gforcada/flake8-isort
coverage==7.10.4  # https://github.com/nedbat/coveragepy
black==25.1.0  # https://github.com/psf/black
pylint-django==2.6.1  # https://github.com/PyCQA/pylint-django
pre-commit==4.2.0  # https://github.com/pre-commit/pre-commit

# Pytest --------------------------
pytest-xdist==3.8.0  # https://github.com/pytest-dev/pytest-xdist
pytest-split==0.10.0  # https://github.com/jerry-git/pytest-split
pytest-cov==6.2.1  # https://github.com/pytest-dev/pytest-cov
