asgiref==3.6.0
attrs==23.1.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.2
Django==4.1.7
django-cors-headers==3.14.0
drf-nested-routers==0.93.4  # https://github.com/alanjds/drf-nested-routers/
djangorestframework==3.14.0
djangorestframework-camel-case==1.4.2
drf-spectacular==0.26.2
factory-boy==3.2.1
Faker==18.4.0
g2p==1.0.20230412 # https://github.com/roedoejet/g2p
gunicorn==20.1.0
idna==3.4
inflection==0.5.1
iniconfig==2.0.0
jsonschema==4.17.3
packaging==23.0
pluggy==1.0.0
psycopg2-binary==2.9.6
pycparser==2.21
PyJWT==2.6.0
pyrsistent==0.19.3
pytest==7.3.0
pytest-django==4.5.2  # https://github.com/pytest-dev/pytest-django
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
rules==3.3
six==1.16.0
sqlparse==0.4.3
uritemplate==4.1.1
urllib3==1.26.15
