name: "Deploy"
description: "Deploy to appropriate environment"

inputs:
  env:
    required: true
  k8_namespace:
    required: true
  helm_chart_name:
    required: true
  aws_region:
    required: true
  aws_account:
    required: true
  aws-access-key-id:
    required: true
  aws-secret-access-key:
    required: true
  cluster_name:
    required: true

runs:
  using: "composite"
  steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ inputs.aws-access-key-id }}
        aws-secret-access-key: ${{ inputs.aws-secret-access-key }}
        aws-region: ${{ inputs.aws_region }}

    - name: Pull helm version
      shell: bash
      run: |
        export REMOTE_HELM_RELEASE_VERSION=$(aws ecr describe-images --repository-name helm-fv-web \
          --query 'sort_by(imageDetails, &imagePushedAt)[-1].imageTags[0]' \
          --output text)
        echo "REMOTE_HELM_RELEASE_VERSION=$REMOTE_HELM_RELEASE_VERSION" >> "$GITHUB_ENV"

    - name: Update Chart.yaml
      shell: bash
      run: |
        aws eks update-kubeconfig --name ${{ inputs.cluster_name }} --region "${{ inputs.aws_region }}"
        echo "The latest Helm Release version in the Helm repo is $REMOTE_HELM_RELEASE_VERSION"
        echo "version: $REMOTE_HELM_RELEASE_VERSION" | sudo tee -a ./helm/fv-be/Chart.yaml >/dev/null


    -   uses: azure/setup-helm@v4.2.0
        id: install

    - name: Get the last Helm deployment time and status
      id: get_deployment_info
      shell: bash
      run: |
        RELEASE_NAME=${{  inputs.helm_chart_name  }}
        NAMESPACE=${{  inputs.k8_namespace }}

        # Get the latest deployment time from Helm history
        LAST_DEPLOY_TIME=$(helm history $RELEASE_NAME -n $NAMESPACE --max 1 --output json | jq -r '.[0].updated')

        # Get current time in seconds
        CURRENT_TIME=$(date +%s)

        # Convert last deploy time to seconds since epoch
        LAST_DEPLOY_TIME_EPOCH=$(date -d "$LAST_DEPLOY_TIME" +%s)

        # Calculate time difference in minutes
        TIME_DIFF=$(( (CURRENT_TIME - LAST_DEPLOY_TIME_EPOCH) / 60 ))

        # Get the current status of the Helm release
        RELEASE_STATUS=$(helm status $RELEASE_NAME -n $NAMESPACE -o json | jq -r '.info.status')

        echo "Last deployment was $TIME_DIFF minutes ago."
        echo "Current release status: $RELEASE_STATUS"

        # Set outputs for later steps
        echo "time_diff=$TIME_DIFF" >> $GITHUB_OUTPUT
        echo "release_status=$RELEASE_STATUS" >> $GITHUB_OUTPUT


    - name: Wait until deployment gap is greater than 5 minutes and no ongoing deployment
      id: wait_for_deploy_gap
      shell: bash
      run: |
        TIME_DIFF=${{ steps.get_deployment_info.outputs.time_diff }}
        RELEASE_STATUS=${{ steps.get_deployment_info.outputs.release_status }}
        RELEASE_NAME=${{  inputs.helm_chart_name  }}
        NAMESPACE=${{  inputs.k8_namespace }}

        # Loop until the gap is greater than 5 minutes and no ongoing deployment
        while [ $TIME_DIFF -lt 5 ] || [[ "$RELEASE_STATUS" == "pending-upgrade" ]] || [[ "$RELEASE_STATUS" == "pending-install" ]] || [[ "$RELEASE_STATUS" == "failed" ]]; do
          if [[ "$RELEASE_STATUS" == "failed" ]]; then
            echo "Helm release has failed. Exiting..."
            exit 1  # Or handle the failure as you see fit (e.g., send notification, retry, etc.)
          fi

          echo "Waiting for 5 minutes since last deployment or until the release is no longer ongoing..."
          sleep 300  # Wait for 5 minutes

          # Recheck the deployment time and status after waiting
          LAST_DEPLOY_TIME=$(helm history $RELEASE_NAME -n $NAMESPACE --max 1 --output json | jq -r '.[0].updated')
          CURRENT_TIME=$(date +%s)
          LAST_DEPLOY_TIME_EPOCH=$(date -d "$LAST_DEPLOY_TIME" +%s)
          TIME_DIFF=$(( (CURRENT_TIME - LAST_DEPLOY_TIME_EPOCH) / 60 ))

          RELEASE_STATUS=$(helm status $RELEASE_NAME -n $NAMESPACE -o json | jq -r '.info.status')

          echo "Last deployment was $TIME_DIFF minutes ago."
          echo "Current release status: $RELEASE_STATUS"
        done

    -   name: helm upgrade
        shell: bash
        run: |
            helm list -n ${{  inputs.k8_namespace }};
            helm upgrade -f ./downloads/Values.${{ inputs.env }}.yaml ${{  inputs.helm_chart_name  }} ./helm/fv-be/ -n ${{  inputs.k8_namespace }}
