[run]
source=['firstvoices']
branch=True
omit =
    */tests/*
    */migrations/*
    */backend/admin/*
    */backend/resources/*
    */__init__.py
    */jwt_auth/admin.py
    */jwt_auth/tests.py
    */urls.py
    */wsgi.py
    */manage.py
    */settings.py
    */backend/search/tasks/*

[report]
include_namespace_packages=True
