[run]
source=.
branch=True
omit =
    */tests/*
    */integration_tests/*
    */migrations/*
    */backend/admin/*
    */__init__.py
    */jwt_auth/admin.py
    */jwt_auth/tests.py
    */urls.py
    */wsgi.py
    */manage.py
    */settings.py

[report]
include_namespace_packages=True
